<p id="notice"><%= notice %></p>
<div class="well">
<p>
  <strong>Pin:</strong>
  <%= @coment.pin_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @coment.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @coment.user.name %>
</p>
<% if user_signed_in? && current_user == @coment.user %>

<%= link_to 'Edit', edit_coment_path(@coment) %> |
<% end %>
<%= link_to 'Back', coments_path %>
</div>