<div class="container animated zoomIn" id="list_index">
<div class="page-header center-mobile center-desktop title_case">
  <h1><a href="<%= @link.url %>" target="_blank"><%= @link.title %> <span class="glyphicon glyphicon-link icon_small" aria-hidden="true"></span></a><br> <small>Submitted by <%= @link.user.name %></small></h1>
</div>
<div class="row">
  <div class="col-md-8">
<div class="center-mobile center-desktop">
<div class="btn-group">
	<%= link_to "Visit URL", @link.url, target: "_blank", class: "btn btn-primary" %>
</div>
</div>

<% if @link.user == current_user %>
<div class="center-mobile center-desktop">
<div class="btn-group">
	<%= link_to "Edit", edit_link_path(@link), class: "btn btn-default" %>
	<%= link_to "Destroy", @link, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default" %>
</div>
</div>
<% end %>
<div class="center-mobile center-desktop">
<div class="btn-group pull-left" id="show_icons">
  <%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-thumbs-up"></span>
    
    <%= @link.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-thumbs-down">
    
    <%= @link.get_downvotes.size %>
  <% end %>
</div>
</div>
<br/>
<br/>
</div>
<div class="col-md-4 background_img">

  <%= image_tag("pika.png", :alt => "pikachu", :class => "img-responsive pikapee") %>
  </div>
</div>
<h3 class="comments_title">
  <%= @link.comments.count %> Comments
</h3>

<div id="comments">
  <%= render :partial => @link.comments.reverse %>
</div>
<%= simple_form_for [@link, Comment.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control", id: "comment-textfield" %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
</div>